<footer>
    <p>Designed by <a href="https://webpages.charlotte.edu/akaraeva/itis3135/karaevaenterprises.co/">Karaeva Enterprises</a> ©2026</p>

    <a href="https://webpages.charlotte.edu/akaraeva/">CLT Web</a> |
    <a href="https://github.com/asyakaraeva">GitHub</a> |
    <a href="https://asyakaraeva.github.io/">GitHub.io</a> |
    <a href="https://www.freecodecamp.org/asyakaraeva">freeCodeCamp</a> |
    <a href="https://www.codecademy.com/profiles/asyakaraeva">Codecademy</a> |
    <a href="https://www.linkedin.com/in/asyakaraeva/">LinkedIn</a>

    <p>Certified in <a href="https://www.freecodecamp.org/certification/asyakaraeva/responsive-web-design-v9">Responsive Web Design</a></p>

    <p>Innovative Solutions, Exceptional Results</p>
    
    <a href="https://validator.w3.org/check?uri=referer">
        <img src="https://www.w3.org/Icons/valid-html401"
             alt="Validate HTML">
    </a>

    <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img src="https://jigsaw.w3.org/css-validator/images/vcss"
             alt="Validate CSS">
    </a>

</footer>