<footer>
    <p>© 2026 Karaeva Enterprises</p>
    <p>Innovative Solutions, Exceptional Results</p>
     <a href="https://validator.w3.org/check?uri=referer">
        <img src="https://www.w3.org/Icons/valid-html401"
             alt="Validate HTML">
    </a>

    <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img src="https://jigsaw.w3.org/css-validator/images/vcss"
             alt="Validate CSS">
    </a>
    
    </a href="https://webpages.charlotte.edu/akaraeva/itis3135/karaevaenterprises.co/">Karaeva Enterprises</a> ©2026
</footer>