<footer>

    <div class="footer-links">
        <a href="https://webpages.charlotte.edu/akaraeva/">CLT Web</a> |
        <a href="https://github.com/asyakaraeva">GitHub</a> |
        <a href="https://asyakaraeva.github.io/">GitHub.io</a> |
        <a href="https://www.freecodecamp.org/asyakaraeva">freeCodeCamp</a> |
        <a href="https://www.codecademy.com/profiles/asyakaraeva">Codecademy</a> |
        <a href="https://www.linkedin.com/in/asyakaraeva/">LinkedIn</a>
    </div>

    <p class="design-credit">
        Designed by
        <a href="https://webpages.charlotte.edu/akaraeva/itis3135/karaevaenterprises.co/">
            Karaeva Enterprises
        </a>
        ©2026 | Innovative Solutions, Exceptional Results
    </p>

    <p class="certification">
        Certified in
        <a href="https://www.freecodecamp.org/certification/asyakaraeva/responsive-web-design-v9">
            Responsive Web Design
        </a>
    </p>

</footer>