<script src="https://lint.page/kit/4d0fe3.js" crossorigin="anonymous"></script>

<header>
    <h1>
        <img src="images/logo.png"
             alt="Karaeva Enterprises Logo"
             width="80"
             height="80">
        Karaeva Enterprises
    </h1>

    <p class="tagline">Innovative Solutions, Exceptional Results</p>


    <nav>
        <a href="../index.html">Home</a>
        <a href="../survey.html">Survey</a>
        <a href="../gallery.html">Gallery</a>
        <a href="../inventory.html">Inventory</a>
        <a href="../instructions.html">Instructions</a>
        <a href="../highlight.html">Highlight</a>
  </nav>
</header>